@model Menu

@{
    ViewData["Title"] = "Thêm món mới";
}
<div class="mb-4 d-flex align-items-center">
    <a asp-controller="Home" asp-action="AdminIndex" class="text-dark"><i class="fa-solid fa-house px-2"></i>Trang chủ</a>
    <i class="fa-solid fa-chevron-left px-2"></i>
    <a asp-action="Index" class="text-dark"> Danh sách món ăn</a>
</div>
<h2>@ViewData["Title"]</h2>
<hr>

<form asp-area="Admin" asp-controller="Menu" asp-action="Create" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-5 d-flex flex-column align-items-center">
    
        <div class="my-3">
            <label for="btnImage" class="btn">
                <img src="~/img/noimage.png" alt="" class="rounded-3 square-1" id="displayImg">
            </label>
            <input type="file" name="ImageSrc" class="d-none" id="btnImage" onchange="displaySelectedImage(event, 'displayImg')"></input>
        </div>
    </div>
    <div class="col-md-7">
        <h4>Thông tin món ăn</h4>
        <hr>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Tên món...">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea rows="6" asp-for="Description" class="form-control" placeholder="Mô tả..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row d-flex flex-row-reverse">
                <div class="mb-3 col-md-6">
                    <label asp-for="GroupId" class="form-label"></label>
                    <select asp-for="GroupId" asp-items="ViewBag.Groups" class="form-control"></select>
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="VND" value="1" min="1">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        
    </div>
</div>
</form>