
@using App.Data
@using AppFoods.Data;
@using System.Security.Claims
@{
    ViewData["Title"] = "Trang quản trị";
}


<div class="row">

@if(User.HasClaim("TableManager", ClaimName.TableManager) || User.IsInRole(RoleName.Administrator)){
  
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Admin" asp-controller="Table" asp-action="Index" class="text-dark">
      <div class="card border-3">
        <img src="~/img/layout/table.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
        <div class="card-body">
          <h5 class="card-title">Danh sách bàn</h5>
          <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
        </div>
      </div>
    </a>
  </div>
}

@if(User.HasClaim("OrderManager", ClaimName.OrderManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="text-dark">
      <div class="card border-3">
        <img src="~/img/layout/order.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
        <div class="card-body">
          <h5 class="card-title">Danh sách đơn</h5>
          <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
        </div>
      </div>
    </a>
  </div>
}

@if(User.HasClaim("MenuManager", ClaimName.MenuManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
      <a asp-area="Admin" asp-controller="Menu" asp-action="Index" class="text-dark">
      <div class="card border-3">
        <img src="~/img/layout/menu.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
        <div class="card-body">
          <h5 class="card-title">Danh sách món ăn</h5>
          <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
        </div>
      </div>
    </a>
  </div>
}
@if(User.HasClaim("MenuManager", ClaimName.MenuManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
        <a asp-area="Admin" asp-controller="Combo" asp-action="Index" class="text-dark">
            <div class="card border-3">
                <img src="~/img/layout/combo.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
                <div class="card-body">
                    <h5 class="card-title">Combos</h5>
                    <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
                </div>
            </div>
        </a>
    </div>
}
@if(User.HasClaim("ChefManager", ClaimName.ChefManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Admin" asp-controller="Chef" asp-action="Index" class="text-dark">
    <div class="card border-3">
      <img src="~/img/layout/chef.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
      <div class="card-body">
        <h5 class="card-title">Danh sách đầu bếp</h5>
        <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
      </div>
    </div>
  </a>
  </div>
}
@if(User.HasClaim("RestaurantManager", ClaimName.RestaurantManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Admin" asp-controller="Restaurant" asp-action="Index" class="text-dark">
      <div class="card border-3">
        <img src="~/img/layout/restaurant.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
        <div class="card-body">
          <h5 class="card-title">Chuỗi cơ sở</h5>
          <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
        </div>
      </div>
    </a>
  </div>
}
@if(User.HasClaim("GroupManager", ClaimName.GroupManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Admin" asp-controller="Group" asp-action="Index" class="text-dark">
    <div class="card border-3">
      <img src="~/img/layout/group.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
      <div class="card-body">
        <h5 class="card-title">Danh sách nhóm</h5>
        <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
      </div>
    </div>
  </a>
  </div>
}

@if(User.IsInRole(RoleName.Manager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Admin" asp-controller="ThongKe" asp-action="Index" class="text-dark">
    <div class="card border-3">
      <img src="~/img/layout/summary.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
      <div class="card-body">
        <h5 class="card-title">Thống kê</h5>
        <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
      </div>
    </div>
  </a>
  </div>
}

@if(User.HasClaim("RoleManager", ClaimName.RoleManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Identity" asp-controller="Role" asp-action="Index" class="text-dark">
    <div class="card border-3">
      <img src="~/img/layout/admin.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
      <div class="card-body">
        <h5 class="card-title">Danh sách role (Vai trò)</h5>
        <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
      </div>
    </div>
  </a>
  </div>
}
@if(User.HasClaim("UserManager", ClaimName.UserManager) || User.IsInRole(RoleName.Administrator)){
  <div class="col-sm-6 col-md-4 mb-3">
    <a asp-area="Identity" asp-controller="User" asp-action="Index" class="text-dark">
    <div class="card border-3">
      <img src="~/img/layout/admin.jpg" class="card-img-top img-fluid" alt="..." style="height: 120px">
      <div class="card-body">
        <h5 class="card-title">Danh sách tài khoản</h5>
        <p class="card-text">Quản lý danh sách các món ăn của nhà hàng.</p>
      </div>
    </div>
  </a>
  </div>
}
</div>


