html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    text-decoration-line: none;
}

.square-1 {
    width: 360px !important;
    height: 360px !important;
    max-width: 100% !important;
}

.square-2 {
    width: 180px !important;
    height: 180px !important;
    max-width: 100% !important;
}

.square-3 {
    width: 90px !important;
    height: 90px !important;
    max-width: 100% !important;
}

.square-4 {
    width: 45px !important;
    height: 45px !important;
    max-width: 100% !important;
}

.square-5 {
    width: 30px !important;
    height: 30px !important;
    max-width: 100% !important;
}

.bg-green{
  background-color: rgba(0, 255, 0, 0.2) !important;
}

.bg-pink {
    background-color: rgba(255, 0, 255, 0.2) !important;
}

.w-10{
    width: 10% !important;
}

.w-60 {
    width: 60% !important;
}
